html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100%;
}
body::after {
    content: "";
    background: url('https://source.unsplash.com/8peGuud5cEw') no-repeat center center;
    background-size:cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    -webkit-filter: grayscale(1); /* Old WebKit */
    filter: grayscale(1);
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
    font-size: 0.6em;
}

nav > ul {
    list-style: none;
    
}

.menu {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.menu a {
    color: black;
}

.menu > .item {
    order: 1;
    flex-grow: 1;
    flex-direction: row;
    font-variant-caps: all-small-caps;
    text-align: center;
}

.menu > .item-logo {
    flex-grow: 3;
    text-align: left;
}