html, body {
    /* height: 100%; */
    /* min-height: 100%; */
    width: 100%;
    margin: 0;
    color: #F4F4F4;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#app, #app > div {
    display: block;
    width: 100%;
    /* height: 100%; */
}
body {
    background: #222;
}
main {
    /* padding-top: 2em;
    width: 80%;
    max-width: 80%;
    height: calc(100% - 3.5em);
    margin: 0 auto;
    overflow: hidden; */

    max-width: 960px;
    margin: 3em auto 0.5em auto;
    min-height: 60vh;
    padding: 2em 5% 2em;
}

/* body::after {
    content: "";
    background: url('https://source.unsplash.com/8peGuud5cEw') no-repeat center center;
    background-size:cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
} */
.cover{
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

a {
    text-decoration: none;
}

h3 {
    font-variant-caps:  petite-caps;
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
    font-size: 0.6em;
}

footer ul.social {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* margin: 0; */
    padding: 0;
    text-align: center;
}
footer ul.social > li {
    margin: 1em 0.5em;
}

.btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    /* font-family: Arial; */
    color: #ffffff;
    font-size: 1.1em;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
}
.btn:hover {
    text-decoration: none;
}
.btn.btn-twitter {
    background: #1da1f2;
}
.btn.btn-github {
    background: #24292e;
}
.btn.btn-youtube {
    background: #ff0000;
}
.btn.btn-instagram {
    background: #bd3381;
    background-image: -webkit-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: -moz-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: -ms-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: -o-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
}

header {
    /* height: 2em; */
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
}

ul {
    list-style: none;
    
}
nav a {
    color: inherit;
}
nav a:hover {
    color: #0084B4;
}

#menu {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}

#menu > .item {
    order: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 0.8em;
    /* font-variant-caps: all-small-caps; */
    text-transform: uppercase;
}

#menu > .item-logo {
    flex-grow: 3;
    text-align: left;
    font-size: 1em;
}

.anchor-link { 
    display: none;
    padding: 0 1em 0; 
    text-align: center; 
    padding: 10px 15px;  
    text-decoration: none; 
    margin: 3px; 
    
}
.anchor-link#menu-toggle {
    float: right;
    color: #fff; 
    background-color: #0084B4;
}
.anchor-link.item-logo {
    float: left;
    text-transform: uppercase;
}

#intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    /* padding: 0 5em; */
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro > div {
    /* height: 100%; */
    /* width: 100%; */
    padding: 0.5em;
    text-align: center;
    /* flex: 1; */

    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}
#intro > div > * {
    flex-grow: 1;
}
#intro > div > h2 {
    max-width: 48%;
    /* padding-right: 0.5em;
    margin-top: 14%; */
    margin: 14% 0.5em 0 0;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: right;
    /* flex-grow: 1; */
}
#intro > div > div.pic {
    /* float: right; */
    /* max-width: 50%; */
    height: auto;
    /* display: block; */
    text-align: left;
    /* flex-grow: 3; */
    /* -webkit-filter: grayscale(1); Old WebKit */
    /* filter: grayscale(1); */
}
#intro > div > div.pic > img {
    max-width: 100%;
}

/* Mobile Standards */
@media (max-width: 1023px){
    
    #menu { 
        display: none; 
    }
	.anchor-link { 
        display: block; 
    }

    ul.open { 
        background-color: #F4F4F4;
        box-shadow: 2px 2px 3px #444444;
        display: block !important;
        /* list-style: none outside none; */
        margin: 0;
        padding: 0;
        position: absolute;
        right: 3px;
        /* top: 5px; */
        width: 60%;
        z-index: 500; 
	}
	ul.open li { 
        display: block; 
        list-style: none; 
        text-align: center; 
    }
	ul.open li a { 
        display: block; 
        padding: 20px 10px; 
        border-bottom: 1px solid #222; 
        text-decoration: none;
        color: #222;
    }
    ul.open li a:hover { 
        background-color: #222; 
        color: #fff; 
    }
    ul.open li.item-logo {
        display: none;
    }

    /* main{
        width: 100%;
        max-width: 100%;
    } */
    #intro {
        width: 100%;
        padding: 0;
    }
    #intro > div > h2 {
        font-size: 1.2em;
        max-width: 58%;
    }
}

@media (max-width: 500px){
    /* #intro > div > h2 {
        max-width: initial;
    } */

    footer ul.social {
        flex-direction: column;
    }
}

/*************/

button#scroll-top-btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #b3b2b2; /* Set a background color */
    opacity: 0.8;
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 2em; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
button#scroll-top-btn:hover {
    opacity: 1;
}

.material-icons { vertical-align: text-bottom; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }