html {
    overflow-y: scroll;
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    width: 100%;
    margin: 0;
    color: #f4f4f4;
    background: #222;
}
#app,
#app > div {
    display: block;
    width: 100%;
}
.main {
    max-width: 960px;
    margin: 3em auto 0.5em auto;
    min-height: 60vh;
    padding: 2em 5% 2em;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

h3 {
    font-variant-caps: petite-caps;
    font-weight: bold;
    text-align: center;
}

#footer {
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    font-size: 0.6em;
}

#footer .social {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* margin: 0; */
    padding: 0;
    text-align: center;
}
#footer .social > li {
    margin: 1em 0.5em;
    text-transform: capitalize;
}

.btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    /* font-family: Arial; */
    color: #ffffff;
    font-size: 1.1em;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
}
.btn:hover {
    text-decoration: none;
}
.btn.btn-linkedin {
    background: #0084bf;
}
.btn.btn-twitter {
    background: #1da1f2;
}
.btn.btn-github {
    background: #24292e;
}
.btn.btn-youtube {
    background: #ff0000;
}
.btn.btn-instagram {
    background: #bd3381;
    background-image: -webkit-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: -moz-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: -ms-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: -o-radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
    background-image: radial-gradient(at 70% 70%, #ee583f 8%, #d92d77 42%, #bd3381 58%);
}

#header {
    /* height: 2em; */
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
}

ul {
    list-style: none;
}
nav .button {
    cursor: pointer;
}
nav a,
nav .button {
    color: inherit;
}
nav a:hover,
nav .button:hover {
    color: #0084b4;
}

#menu {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
}

#menu > .item {
    order: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 0.8em;
    /* font-variant-caps: all-small-caps; */
    text-transform: uppercase;
}

#menu > .item-logo {
    flex-grow: 3;
    text-align: left;
    font-size: 1em;
}

.anchor-link {
    display: none;
    padding: 0 1em 0;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin: 3px;
}
.anchor-link#menu-toggle {
    float: right;
    color: #fff;
    background-color: #0084b4;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
}
.anchor-link.item-logo {
    float: left;
    text-transform: uppercase;
}

.anchor-link.item-lang {
    position: absolute;
    right: 60px;
    font-size: 0.7em;
}

#intro {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
}
#intro > div {
    padding: 0.5em;
    /* text-align: center; */

    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}
#intro > div > * {
    flex: 1 1;
}
#intro div.title {
    padding: 1em 0.5em 0 0;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: right;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}
#intro div.title > * {
    flex: 1 1;
    /* border: 1px solid goldenrod; */
    font-size: 1.5em;
    font-weight: bold;
}
#intro div.title > span.location {
    flex: 2;
    font-size: 1em;
    padding-top: 2em;
}
#intro div.pic {
    height: auto;
    text-align: left;
}
#intro div.pic > img {
    max-width: 100%;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
}

#about h4 {
    color: #0084b4;
}
#about h5,
#about h6 {
    margin: 1em 0;
}
#about div.experience p {
    font-size: 0.6em;
}
#about div.experience li {
    margin: 2em 0;
}

#skills table {
    margin: auto;
    width: 80%;
}
#skills td {
    padding: 5px 10px;
    width: 33%;
}
#skills tr:hover {
    color: #0084b4;
}
#skills .dev-skills {
    text-align: center;
}

#portfolio .portfolio-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}
#portfolio .portfolio-example-item {
    max-width: 50%;
    height: 400px;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px #0084b4;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#portfolio .portfolio-example-item:hover {
    box-shadow: 0px 0px 6px 3px #0084b4;
}
#portfolio .portfolio-example-item > * {
    flex-grow: 1;
}
#portfolio .portfolio-example-medias {
    flex-grow: 3;
    display: flex;
    flex-wrap: nowrap;
}
#portfolio .portfolio-example-img {
    min-width: 0%;
}
#portfolio .portfolio-example-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#portfolio .portfolio-example-title {
    font-size: 1em;
    margin: 10px 10px;
}
#portfolio .portfolio-example-desc {
    font-size: 0.7em;
    margin: 5px 10px;
}
#portfolio .portfolio-example-tech {
    font-size: 0.8em;
    font-style: italic;
    margin: 5px 10px;
}

#contact {
    text-align: center;
}
#contact a {
    color: #0084b4;
    font-weight: bold;
}
#contact a:hover {
    color: #f4f4f4;
}

/* Mobile Standards */
@media (max-width: 768px) {
    #menu {
        display: none;
    }
    .anchor-link {
        display: block;
    }

    ul.open {
        background-color: #f4f4f4;
        box-shadow: 2px 2px 3px #444444;
        display: block !important;
        /* list-style: none outside none; */
        margin: 0;
        padding: 0;
        position: absolute;
        right: 3px;
        /* top: 5px; */
        width: 60%;
        z-index: 500;
    }
    ul.open li {
        display: block;
        list-style: none;
        text-align: center;
    }
    ul.open li a {
        display: block;
        padding: 20px 10px;
        border-bottom: 1px solid #222;
        text-decoration: none;
        color: #222;
    }
    ul.open li a:hover {
        background-color: #222;
        color: #fff;
    }
    ul.open li.item-logo,
    ul.open li.item-lang {
        display: none;
    }

    #intro {
        width: 100%;
        padding: 0;
    }
    #intro div.title > * {
        font-size: 1.2em;
    }
    #intro div.title > span.location {
        font-size: 0.7em;
    }
    #intro div.title > span.location > i {
        vertical-align: bottom;
        font-size: 1.1em;
    }

    #skills table {
        width: 100%;
    }
}
@media (max-width: 480px) {
    #intro > div {
        padding: 0;
    }
    #footer ul.social {
        flex-direction: column;
    }
}
/*************/

button#scroll-top-btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 3em; /* Place the button at the bottom of the page */
    right: 1em; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #b3b2b2; /* Set a background color */
    opacity: 0.5;
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 2em; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
button#scroll-top-btn:hover {
    opacity: 1;
}

.material-icons {
    vertical-align: top;
}
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
